<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Meadowlark Travel</title>
    {{#if showTests}}
      <link rel="stylesheet" href="/vendor/mocha.css" />
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header><img src="/img/logo.png" alt="Meadowlark Travel logo" /></header>
    {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-hidden="true"
        >&times;</button>
        <strong>{{flash.intro}}</strong>{{{flash.message}}}
      </div>
    {{/if}}

    {{{body}}}
    {{#if showTests}}
      <div id="mocha"></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script>
        mocha.ui('tdd'); var assert = chai.assert;
      </script>
      <script src="/qa/tests-global.js"></script>
      {{#if pageTestScript}}
        <script src="{{pageTestScripts}}"></script>
      {{/if}}
      <script>mocha.run();</script>
    {{/if}}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>